@charset "UTF-8";
/* CSS Document */

body{
	margin: 0;
	padding: 0;
	font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
}

#loader {
  display: none;	
  border: 10px solid #353434;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#navBarDiv{
	background-image:url(images/homePage.jpg);
	width: 100%;
	height: 55px;
	position:fixed;
	z-index:2;
}

#logoutDiv{
	float: right;
}

.profilePictureOfLoggedInUser{
	width: 50px; 
	float: left;
}

#menuIconResponsive{
	padding: 10px;
	width: 50px;
	height: 40px;
}

#menuIconResponsive{
	display: none;
}

#nameOfUserLoggedIn{
	color: white; 
	padding: 13px; 
	float: left; 
	padding-right: 0px;
	
}

#clientListDiv{
	float: left;  
	overflow-y: scroll; 
	height: 90%; 
	width: 300px; 
	position: fixed; 
	background-color:#D7D7D7; 
	padding-top: 20px; 
	z-index: 1;
	display: inherit;
}
.clientNameDiv{
	cursor: pointer;
}

.clientNameDiv:hover{
	
	background-color:aliceblue;
}

.clientProfilePictureDiv{
	width: 50px;
}

#txtHint{
	margin-left: 300px; 
	padding: 20px; 
	padding-top: 0px;
	display: none;
}

#clientButtonDiv{
	display: none;
	margin-left: 300px; 
	height: 40px; 
	padding:15px;
}
#profilePictureOfSelectedClient{
	width: 100px; 
	float: left;
}

#nameOfSelectedClient{
	position: absolute; 
	font-size: 18pt; 
	padding: 30px;
	
}

#infoOfSelectedClient{
	padding: 20px;
}

.clientButtons{
	width: 100px;
	height: 30px;
	cursor: pointer;
	border-radius: 5px;
	border:0;
	box-shadow: 0px 0px 1px 0px #015F92;
	background-color:#015F92;
	color: white;
	font-weight: bold;
}

.clientButtons:hover{
	background-color:#0189D3;
}

.clientButtonsMobile{
	display: none;
}


.newClientInputs{
	width: 200px;
	font-size: 12pt;
	padding: 5px;
	border-radius: 5px;
	border: 0.5px solid #454545;
	margin-top: 10px;
}

#newClientFormDiv{
	margin-left: 300px;  
	padding:15px; 
	display: none;
}
#navBarMobile{
	width: 60%; 
	height: 100%; 
	position: fixed; 
	background-color:#2E2E2E;
	z-index: 51; 
	display: none;
}

#calendarDiv{
	width: 620px; 
	padding-top: 10px;
	display: inherit;
	position: fixed;
	margin-left: 320px;
	border: 0.5px solid thin #D5D5D5;
	border-radius: 5px;
	padding: 20px;
	box-shadow: 0px 0px 3px 0px #4A4A4A;
	background-color:#FFFFFF;
}

#eventListDiv{
	float: right;
	margin-right: 20px;
	width: 250px; 
	height: 548px;
	border: 0.5px solid thin #D5D5D5;
	border-radius: 5px;
	box-shadow: 0px 0px 3px 0px #4A4A4A;
	background-color:#FFFFFF;
}

/*Responsive Design*/

@media only screen and (max-device-width: 600px) {
    /* For mobile phones: */
	
    #menuIconResponsive{
       display:inherit;
		width: 30px;
		height: 25px;
		padding: 15px;
    }
	
	#userLoggedInDiv{
		display: none;
	}
	
	#clientListDiv{
		z-index: 50;
		width: 100%;
		display: inherit;
	}
	
	#txtHint{
	display: none;
	margin-left: 0px;
	padding: 20px; 
	padding-top: 0px;
}
	#clientButtonDiv{
	margin-left: 0px; 
	height: 40px; 
	padding:15px;
	}
	
	#newClientFormDiv{
	margin-left: 0px;  
	padding:15px; 
	padding-top: 0px; 
	display: none;
}
	#navBarDiv{
		height: 65px
	}
	
.clientButtonsMobile{
	display: inherit;
}
	.clientButtonsNotResponsive{
	display: none;
}
	#calendarDiv{
	padding-top: 50px;
	width: 95%;
	margin-left: 2%;
}
	
}


